{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div id="header">
        <h1>Blog</h1>
        <a href="{% url 'pages:contact' %}">
            <p>Kontakt</p>
        </a>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'paginator.html' with page=posts %}

</body>
</html>